@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  @apply text-secondary-500;
}

.swiper-button-next {
  padding: 0 0 0 50px;
}

.swiper-button-prev {
  padding: 0 50px 0 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #2b353e;
}

.swiper-pagination-bullet-active {
  background-color: #f3efd4;
}
