@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  @apply text-secondary-500;
}
